<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{ name }}</title>
        <link rel="stylesheet" href="{% static 'css/pdf_exports/project_export.css' %}" type="text/css"/>
    </head>
    <body>
        <header>
            <div class="flex flex-space-between">
                <img src="{% static 'img/unistra_logo.png' %}" alt="Université de Strasbourg" class="margin-bottom">
                <img src="{% static 'img/cvec_logo.png' %}" alt="Contribution Vie Étudiante et de Campus" class="margin-bottom">
                <img src="{% static 'img/crous_logo.png' %}" alt="Crous Strasbourg" class="margin-bottom">
            </div>
            <div>
                <strong>{% trans 'Case number' %} :</strong>
                <span>{{ manual_identifier }}</span>
            </div>
            <h1 class="text-center text-uppercase">{% trans 'Student project assistance commitee' %}<br>{% trans 'Summary of moral and financial report' %}</h1>
        </header>

        <div>
            <div class="flex flex-space-around">
                <div class="outline-light text-center">
                    <strong>{% trans 'Associative project' %} {% if association %}☑{% else %}☐{% endif %}</strong>
                </div>
                <div class="outline-light text-center">
                    <strong>{% trans 'Individual holder project' %} {% if user and not association %}☑{% else %}☐{% endif %}</strong>
                </div>
            </div>
            <div class="flex">
                <div class="flex flex-direction-column outline">
                    <strong>{% trans 'SPAC date' %} :</strong>
                    <span>{{ commission_date | date:'l d F Y' }}</span>
                    <strong>{% trans 'Case number' %} :</strong>
                    <span>{{ manual_identifier }}</span>
                </div>
                <div class="flex flex-direction-column outline">
                    <strong>{% trans 'Amount asked' %} :</strong>
                    {% for commission in project_commission_funds %}
                        <span>{{ commission.fund_data.acronym }} : {{ commission.amount_asked }} €</span>
                    {% endfor %}
                </div>
                <div class="flex flex-direction-column outline">
                    <strong>{% trans 'Amount granted' %} :</strong>
                    {% for commission in project_commission_funds %}
                        <span>{{ commission.fund_data.acronym }} : {{ commission.amount_earned }} €</span>
                    {% endfor %}
                </div>
                <div class="flex flex-direction-column outline">
                    <strong>{% trans 'Outcome' %} :</strong>
                    <span>{{ outcome }} €</span>
                    <strong>{% trans 'Income' %} :</strong>
                    <span>{{ income }} €</span>
                </div>
            </div>
        </div>

        <div>
            <div class="outline">
                <div>
                    <strong>{% if association %}{% trans 'Association name' %}{% else %}{% trans 'Individual holder name' %}{% endif %} :</strong>
                    <span>{% if association %}{{ association.name }}{% else %}{{ user.first_name }} {{ user.last_name }}{% endif %}</span>
                </div>
                {% if partner_association %}
                    <div>
                        <strong>{% trans 'Co-holder association name' %} :</strong>
                        <span>{{ partner_association }}</span>
                    </div>
                {% endif %}
                <div>
                    <strong>{% trans 'Project title' %} :</strong>
                    <span>{{ name }}</span>
                </div>
                <div>
                    <strong>{% trans 'Project dates' %} :</strong>
                    <span>{{ real_start_date | date:'l d F Y' }} - {{ real_end_date | date:'l d F Y' }}</span>
                </div>
                <div>
                    <strong>{% trans 'Project locations' %} :</strong>
                    <span>{{ real_location }}</span>
                </div>
            </div>
            <div class="outline">
                <div>
                    <strong>{% if association %}{% trans 'Association postal address' %}{% else %}{% trans 'Individual holder postal address' %}{% endif %} :</strong>
                    <span>{% if association %}{{ association.address }} {{ association.zipcode }} {{ association.city }} {{ association.country }}{% else %}{{ user.address }} {{ user.zipcode }} {{ user.city }} {{ user.country }}{% endif %}</span>
                </div>
            </div>
            <div class="outline">
                <div>
                    <strong>{% if association %}{% trans 'Association phone' %}{% else %}{% trans 'Individual holder phone' %}{% endif %} :</strong>
                    <span>{% if association %}{{ association.phone }}{% else %}{{ user.phone }}{% endif %}</span>
                </div>
                <div>
                    <strong>{% if association %}{% trans 'Association email' %}{% else %}{% trans 'Individual holder email' %}{% endif %} :</strong>
                    <span>{% if association %}{{ association.email }}{% else %}{{ user.email }}{% endif %}</span>
                </div>
            </div>
            {% if association %}
                <div class="outline">
                    <div>
                        <strong>{% trans 'Association president name' %} :</strong>
                        <span>{{ association.president_names }}</span>
                    </div>
                    <div>
                        <strong>{% trans 'Phone' %} :</strong>
                        <span>{{ association.president_phone }}</span>
                    </div>
                    <div>
                        <strong>{% trans 'Mail' %} :</strong>
                        <span>{{ association.president_email }}</span>
                    </div>
                </div>
                <div class="outline">
                    <div>
                        <strong>{% trans 'Association project holder name' %} :</strong>
                        <span>{{ user.first_name }} {{ user.last_name }}</span>
                    </div>
                    <div>
                        <strong>{% trans 'Phone' %} :</strong>
                        <span>{{ user.phone }}</span>
                    </div>
                    <div>
                        <strong>{% trans 'Mail' %} :</strong>
                        <span>{{ user.email }}</span>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="break">
            <div class="flex flex-direction-column margin-bottom outline">
                <strong>{% trans 'Progress of the project' %} :</strong>
                <span>{{ description }}</span>
            </div>
            <div class="flex flex-direction-column margin-bottom outline">
                <strong>{% trans 'Moral report' %} :</strong>
                <span>{{ review }}</span>
            </div>
            <div class="flex">
                <div class="flex flex-direction-column half-width margin-bottom outline">
                    <strong>{% trans 'Difficulties encountered' %} :</strong>
                    <span>{{ difficulties }}</span><br>
                </div>
                <div class="flex flex-direction-column half-width margin-bottom outline">
                    <strong>{% trans 'Points to improve' %} :</strong>
                    <span>{{ improvements }}</span><br>
                </div>
            </div>
            <div class="flex flex-direction-column margin-bottom outline">
                <strong>{% trans 'Spinoffs for students' %} :</strong>
                <span>{{ impact_students }}</span>
            </div>
        </div>

        <div>
            <div class="flex flex-direction-column outline">
                <strong>{% trans 'Documents sent' %} :</strong>
                {% for document in documents %}
                    <span>{{ document.document__name }} : {{ document.name }}</span>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
