<!DOCTYPE html>
{% load static %}
{% load resolve %}
<html>

<head>
    <meta charset="UTF-8">
    <title>Exemple de notification</title>
    <style>
        @page {
            size: A4 portrait;
            margin: 20mm 10mm 20mm 10mm
        }
    </style>
</head>

<header>
    <div>
        {% resolve %}{{ content.header|safe }}{% endresolve %}
    </div>
</header>

<body>
    <div>
        {% resolve %}{{ content.aside|safe }}{% endresolve %}
    </div>
    <div>
        {% resolve %}{{ content.body|safe }}{% endresolve %}
    </div>
</body>

<footer>
    <div>
        {% resolve %}{{ content.footer|safe }}{% endresolve %}
    </div>
</footer>

</html>
