<!DOCTYPE html>
{% load static %}
{% load resolve %}
<html>

<head>
    <meta charset="UTF-8">
    <title>Notification d'attribution IdEx</title>

    <link rel="stylesheet" href="{% static 'css/unistrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/notifications/FSDIE_IdEx.css' %}" type="text/css"/>
    <style>
        @page {
            size: A4 portrait;
            margin: 20mm 10mm 20mm 10mm
        }
    </style>
</head>

<header>
    <div class="head-float-left">
        <img src="{% static 'img/unistra_logo.png' %}">
    </div>
    <div class="head-float-right border text-sm unistra-a align-right">
        {% resolve %}{{ content.header|safe }}{% endresolve %}
    </div>
</header>

<body>
<div class="float-left border text-sm unistra-a">
    {% resolve %}{{ content.aside|safe }}{% endresolve %}
</div>
<div class="float-right unistra-a text-justify">
    {% resolve %}{{ content.body|safe }}{% endresolve %}
</div>

</body>

<footer>
    <div class="float-right border unistra-a align-right">
        {% resolve %}{{ content.footer|safe }}{% endresolve %}
    </div>
</footer>

</html>
