<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <title>Décision de subvention IdEx</title>

    <link rel="stylesheet" href="{% static 'css/unistrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/notifications/FSDIE.css' %}" type="text/css"/>
    <style>
        @page {
            size: A4 portrait;
            margin: 20mm 10mm 20mm 10mm
        }
    </style>
</head>

<header>
    <div class="head-float-left">
        <img src="{% static 'img/FSDIE_logo.png' %}">
    </div>
    <div class="head-float-right border text-sm unistra-a">
        <p>Le Président de l'Université de Strasbourg</p>
        <p>VU le code de l’éducation</p>
        <p>VU la circulaire n° 2011-1021 du 3-11-2011 sur le développement de la vie associative et des initiatives étudiantes</p>
        <p>VU la délibération du Conseil d’Administration du 12 mai 2009 établissant la Commission d’aide aux projets étudiants (CAPE) et adoptant la charte de subventionnement</p>
        <p>VU la décision du Conseil d’Administration du 16 décembre 2014 validant le programme IdEx « Creative Thinkers » permettant de soutenir des projets portés par des associations étudiantes Unistra</p>
    </div>
</header>

<body>
    <div class="float-left border text-sm unistra-a">
        <p>
            <b>Prénom NOM</b><br>
            Vice-présidente Vie universitaire
        </p>
        <p><b>Affaire suivie par</b><br>
            Nom Gestionnaire<br>
            Tél: 01.02.03.04.05<br>
            Mail: nom.gestionnaire@unistra.fr
        </p>
        <p>Service de la vie universitaire | SVU<br>
            Mission vie étudiante<br>
            Bâtiment | Le Patio<br>
            22 rue René Descartes<br>
            67084 Strasbourg Cedex<br>
            www.unistra.fr
        </p>
    </div>
    <div class="float-right unistra-a">
        <h1>Décision de subvention</h1>
        <p>Strasbourg, {$DATE_LITTERAL}</p>

        <h2>ARTICLE 1</h2>
        <p class="text-justify">Une subvention de {$MONTANT_ACCORDE_IDEX}€ ({$AMOUNT_EARNED_IDEX_LITTERAL} euros) est attribuée à l'association universitaire dite {$NOM_ASSO} dans le cadre du programme IdEx "Creative Thinkers" pour l'organisation de l'opération : {$NOM_PROJET}.</p>
        <h2>ARTICLE 2</h2>
        <p class="text-justify">Cette subvention sera imputée sur le centre financier SVU, centre de coût SVU, E-OTP W17SVU06ETUDX.</p>
        <h2>ARTICLE 3</h2>
        <p class="text-justify">L'agent Comptable de l'Université et le Chef du Service de la vie universitaire sont chargés, chacun en ce qui le concerne, de l'exécution de la présente décision.</p>
    </div>

</body>

<footer>
    <div class="float-right unistra-a align-right">
        <p>Fait à Strasbourg, le {$DATE_LITTERAL}</p>
        <p><b>Prénom NOM</b></p>
        <p>Vice-présidente Vie universitaire</p>
    </div>
</footer>

</html>