<!DOCTYPE html>
{% load static %}
{% load resolve %}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% resolve %}{{ content.title }}{% endresolve %}</title>
        <link rel="stylesheet" href="{% static 'css/notifications/FSDIE_IdEx.css' %}" type="text/css"/>
        <style>
            @page {
                margin: 20mm 10mm 20mm 10mm;
                size: A4 portrait;
            }
        </style>
    </head>
    <body>
        <header>
            <div class="head-float-left">
                <img src="{% static 'img/unistra_logo.png' %}">
            </div>
            <div class="head-float-right border text-sm unistra-a align-right">
                {% resolve %}{{ content.header|safe }}{% endresolve %}
            </div>
        </header>
        <main>
            <div class="float-left border text-sm unistra-a">
                {% resolve %}{{ content.aside|safe }}{% endresolve %}
            </div>
            <div class="float-right unistra-a">
                {% resolve %}{{ content.body|safe }}{% endresolve %}
            </div>
        </main>
        <footer>
            <div class="float-right border unistra-a align-right">
                {% resolve %}{{ content.footer|safe }}{% endresolve %}
            </div>
        </footer>
    </body>
</html>
